@font-face {
    font-family: zigg;
    src: url(./fonts/zig_____.ttf);
}

@font-face {
    font-family: girly font;
    src: url(./fonts/Girly\ Things\ Demo\ Version.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf)
}
body {
    background-color: #bc1fff;
    text-align: center;
  }
  
    p, .factText {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid white;
    background-color: black;
  }
  
  p {
    font-size: 18px;
  }
  
  .frame {
    background-color: black;
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px
     
  }
  
  .productFrame {
    background-color: #85501e;
    border: 2px solid white;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .facts {
    font-family: "zigg";
    text-align: left;
  }

  .about {
    font-family: "girly font";
    text-align: left;
    font-size: 25px;
    
  }

  .contact {
    font-family: "Roboto";
    text-align: center;
  }